<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>

	<table class="table table-blue">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Numero</th>
				<th>Direccion</th>
				<th>Telefono</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="bodega:${bodegas}">
				<td th:text="${bodega.nombre}"></td>
				<td th:text="${bodega.numero}"></td>
				<td th:text="${bodega.direccion}"></td>
				<td th:text="${bodega.telefono}"></td>
				<td>
					<form action="#" th:action="@{/bodegas/borrar/{id}(id=${bodega.id})}" th:object="${bodega}"
						th:method="DELETE">
						<input type="submit" value="Borrar">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="@{/bodegas/nuevaBodega}" class="btn btn-outline-success">Agregar nueva </a>
	</div>

</body>

</html>